<h1>Galeria</h1>
<!--
	Multiverse by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Multiverse by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html"><strong>Galeria</strong> Autana muebles</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon solid fa-info-circle"></a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<article class="thumb">
                            <%= image_tag("furniture6.jpg", {class:"card-img-top"}) %>
							<h2>Diseños</h2>
							<p>Diseños y medidas precisas.</p>
						</article>
						<article class="thumb">
							<%= image_tag("furniture12.jpg", {class:"card-img-top"}) %>
							<h2>Muebles a medida</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<%= image_tag("furniture9.jpg", {class:"card-img-top"}) %>
							<h2>Cocina moderna</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<%= image_tag("furniture8.jpg", {class:"card-img-top"}) %>
							<h2>Cocina en modulos</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<%= image_tag("furniture11.jpg", {class:"card-img-top"}) %>
							<h2>Muebles de baño</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<%= image_tag("furniture10.jpg", {class:"card-img-top"}) %>
							<h2>Mantenciones y servicios tecnicos</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<%= image_tag("furniture7.jpg", {class:"card-img-top"}) %>
							<h2>Muebles flotantes</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<%= image_tag("furniture5.jpg", {class:"card-img-top"}) %>
							<h2>Diseño y decoración</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<%= image_tag("furniture4.jpg", {class:"card-img-top"}) %>
							<h2>Muebles a medida</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
			
					</div>
					
			<!-- Float -->
				<h1><a href="index.html"><strong>Galeria</strong> Autana muebles</a></h1>
					<div class="float-sm-end">Float end on viewports sized SM (small) or wider</div><br>
					<div class="float-md-end">Float end on viewports sized MD (medium) or wider</div><br>
					<div class="float-lg-end">Float end on viewports sized LG (large) or wider</div><br>
					<div class="float-xl-end">Float end on viewports sized XL (extra large) or wider</div><br>
					<div class="float-xxl-end">Float end on viewports sized XXL (extra extra large) or wider</div><br>

					
			<!-- Video -->

				<div class="ratio ratio-4x3">
					<%= video_tag "IMG3.MOV", controls: false, autoplay:
					true, muted: true, loop: true, id: "bgvideobg", class:
					"fullscreen-bg__video", type: "video/webm" %>
				</div>

					

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>